* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
#bars {
  height: 40px;
  position: absolute;
  z-index: 11;
  color: white;
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0px;
  z-index: 10;
}
nav ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}
ul #bars {
  position: absolute;
  top: 35%;
  right: 0;
}
header {
  background-color: rgba(0, 0, 0, 0.822);
}

.content {
  width: 60%;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.content h1 {
  line-height: 80px;
  margin-bottom: 30px;
}
.content p {
  line-height: 20px;
  margin-bottom: 30px;
}
.content button {
  padding: 15px;
  border-radius: 50px;
  font-size: 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
}
.services {
  margin: 90px;
  width: 100%;
  margin: 0 auto;
}
.services h1 {
  font-weight: 400;
  margin: 50px;
  color: gray;
}
.our__services {
  text-align: center;
}
.social {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.social i {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 40px;
  border: 2px solid gray;
  padding: 00px;
  border-radius: 50%;
  margin: 0 30px;
  margin-bottom: 50px;
  color: gray;
}
.contents {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  flex-basis: 21%;
  margin: 0 20px;
}
.contents .card h1 {
  margin-bottom: 40px;
  color: gray;
  font-weight: 300;
}
.contents .card button {
  margin: 30px 0;
  padding: 1.5em 3.6em;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 30px;
  background-color: #1abc9c;
}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 820px) {
}
